@model ContatoModel;
@{
    ViewData["Title"] = "Criar contato";
}
<div class="text-center">

    <h1 class="display-4">Cadastrar contato</h1>

</div>
<form asp-controller="Contato" asp-action="Criar" method="post">
<div class="mb-3 row">
    <label for="Nome">Nome</label>
    <div class="col-sm-10">
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o seu nome" >
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
</div>
<div class="mb-3 row">
    <label for="E-mail">E-mail</label>
    <div class="col-sm-10">
            <input type="text" asp-for="Email" class="form-control" placeholder="Digite o seu e-mail">
            @Html.ValidationMessageFor(x => x.Email)
    </div>
</div>
<div class="mb-3 row">
    <label for="Telefone">Telefone</label>
    <div class="col-sm-10">
            <input type="text" asp-for="Telefone" class="form-control" placeholder="(xx)xxxxx-xxxx">
            @Html.ValidationMessageFor(x => x.Telefone)
    </div>
</div>

<button type="submit" class="btn btn-primary">Salvar</button>
<a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="index">Voltar</a>
</form>